.Fader {
  display: flex;
  flex-direction: column;
}

._fader {
  width: 100px;
  margin-top: 25px;
  transform: rotate(270deg);
  margin-bottom: 50px;
}

._text {
  font-size: 24pt;
  text-align: center;
}

._manual {
  color: darkred;
}

._raised {
  color: darkblue;
}

._lowered {
  color: darkgreen;
}

._tracked {
  color: grey;
}

._blocked {
  color: black;
}
