[Unit]
Description=Stagecast Scene interface

[Service]
Type=simple
WorkingDirectory=/home/cueserver/equipment/scenes
ExecStart=/home/cueserver/equipment/scenes/run.sh
Restart=always
RestartSec=30
