.CueStatus {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

._view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

._currentQ {
  font-size: 100px;
}

._previousQ, ._nextQ {
  font-size: 50px;
}

._fadeProgress {
  margin: 10px;
}

._controls {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

._previousQ {
  color: grey;
}

._back {
  font-size: 25px;
}

._go {
  font-size: 50px;
  text-transform: uppercase;
}

._recording {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  line-height: 200%;
}

._recording input {
  margin-left: 10px;
  margin-bottom: 10px;
  float: right;
}

._record {
  font-size: 16pt;
}

._delete {
  width: 50%;
  display: inline-block;
}

._go_to_q {
  width: 50%;
  display: inline-block;
}
