.Fader {
  display: flex;
  flex-direction: column;
}

._manual {
  color: darkred;
}

._raised {
  color: darkblue;
}

._lowered {
  color: darkgreen;
}

._tracked {
  color: grey;
}

._blocked {
  color: black;
}

#_detent {
	display: block;
	margin-left: 50%;
}

#_pan_detent {
	position: absolute;
	width: 2px;
	height: 10px;
	background-color: grey;
}

._mute {
	display: block;
	position: relative;
	margin-bottom: 30px;
	margin-top: 10px;
	cursor: pointer;
	user-select: none;
}

._mute input {
  position: auto;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

._mute_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}

._mute:hover input ~ ._mute_box {
  background-color: #D5D5D4;
}

._mute input:checked ~ ._mute_box {
  background-color: #B1040E;
}

._mute_box p {
	color: #2E2D29;
    text-align: center;
}
